* {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 200; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

/* ****************************************NAVBAR**********************************************/
.navbar a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.divNavBlack {
  font-weight: 200;
  font-size: 15px;
  background-color: black;
  color: white;

}

.navbar {
  background-color: white;
}

.navbar .nav-link {
  color: black;
  font-weight: 400;
  font-size: 18px;
}

.navFix {
  position: fixed;
  width: 100%;
  z-index: 999;
  /* Stays behind the top nav but above the rest */
  background-color: #fff;
  /* Example background color */
}
.navbar .nav-link{
  color: black;
  position: relative;

}

.navbar .nav-home::after{
  color: black;
  content: "";
  height: 3px;
  width: 50%;
  background:#e53637;
  display: block;
  position: absolute;
  /* left: 0; */
  /* bottom: -8px; */
  /* opacity: 0; */
  transform: scale(1,1);
  transition: transform 0.5s ease-in;
  pointer-events: none;
  
 }
 
.navbar .nav-line::after{
color: black;
content: "";
height: 3px;
width: 50%;
background:#e53637;
display: block;
position: absolute;
/* left: 0; */
/* bottom: -8px; */
/* opacity: 0; */
transform: scale(0,1);
transition: transform 0.5s ease-in;
pointer-events: none;

}

.navbar .nav-line:hover::after {
/* opacity: 1; */
transform: scale(1,1);
}

/* ************************************************** Hero component ************************************************* */

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  filter: invert(100%);
  color: black;
}

.caraImg {
  margin-top: 8%;
}

.caraText {
  position: absolute;
  top: 40%;
  left: 10%;
  text-align: left !important;
}
.heroButton{
  background-color: black !important;
  border: 1px solid black !important;
  color: white !important;
  border-radius: 0% !important;
}
.heroArrow{
  margin-bottom: 4px;
}

/* *******************************************************Banner******************************************************************** */
.banner1{
  position: absolute;
  right: 13%;
}
.banner1-Text{
  position: absolute;
  text-align: left;
  right: 40%;
  top:14%;
  width: 300px;
  z-index: 1;
}
.banner1-Text h1{
  font-weight: 700;
}
.banner2-Text h1{
  font-weight: 700;
}
.banner3-Text h1{
  font-weight: 700;
}
.banner2-Row{
  padding-top: 25%;
}
.banner3-Col{
  padding-top: 15%;
  margin-right: -6%;
}
.banner3-Text{
  position: absolute;
  text-align: left;
  right: 33%;
  top:72%;
  width: 300px;
  z-index: 2;
}
.banner3{
  position: absolute;
  right: 5%;
}
.banner-p{
  width: 100px;
}
.banner-p::after{
  color: black;
  content: "";
  height: 2px;
  width: 95px;
  background:#111111;
  display: block;
  position: absolute;
  /* left: 0; */
  /* bottom: -8px; */
  /* opacity: 0; */
  transition: 0.5s ease-in;
  pointer-events: none;
  
 }
 
 .banner-p:hover::after {
 /* opacity: 1; */
 background-color: #e53637;
 width: 45px;
 }
/* ***************************************************** Below 425 px ********************************************************** */
@media (max-width: 426px) {
  
  .divNavBlack {
    display: none;
  }
  .caraImg {
    height: 400px;
  }
  .caraText {
    font-size: xx-small;
    position: absolute;
    top: 27%;
    left: 10%;
    text-align: left !important;
  }
  .caraText h1{
    font-size: 15px;
  }
  .caraText button{
    font-size: 7px;
  }
  .heroArrow{
    margin-bottom: 2px;
  }
}

/************************************************** 426px to 768px ******************************************************/
@media (min-width: 427px) and (max-width: 768px) {
  .caraImg {
    height: 500px;
  }
  .caraText {
    font-size: 15px;
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: left !important;
  }
  .caraText h1{
    font-size: 24px;
  }
  .caraText button{
    font-size: 12px;
  }
  .heroArrow{
    margin-bottom: 2px;
  }
}

/************************************************* 769px to 1024px *******************************************************/
@media (min-width: 769px) and (max-width: 1024px) {
  .caraImg {
    height: 650px;
  }
  .caraText {
    font-size: 20px;
    position: absolute;
    top: 36%;
    left: 10%;
    text-align: left !important;
  }
  .caraText h1{
    font-size: 32px;
  }
  .caraText button{
    font-size: 15px;
  }
  .heroArrow{
    margin-bottom: 2px;
  }
}

/************************************************* 1025px to 1440px *******************************************************/
@media (min-width: 1025px) and (max-width: 1440px) {}

/*************************************************** Above 1440px ********************************************************/
/* @media (min-width: 1441px) {
  .caraText {
    font-size: 35px;
    position: absolute;
    top: 45%;
    left: 10%;
    text-align: left !important;
  }
  .caraText h1{
    font-size: 70px;
  }
  .caraText button{
    font-size: 30px;
  }
  .heroArrow{
    margin-bottom: 5px;
  }
} */